<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Head</title>
</head>
<body>

    <p> What is on my head?</p>
        <form action="/save/">
            <select>
            <option name = "Headgear">
                <option value="viking_helmet">Viking Helmet</option>
                <option value="hood">Hood</option>
                <option value="nothing">Nothing</option>
            </select>
            <input type="submit" value="Submit">
        </form>
</body>
</html>