<!DOCTYPE html>
{% extends "parent_layout.html" %}

{% block header %}
    <title>Head</title>
{% endblock %}

{% block body %}

    <p> What is on my head?</p>
        <form action="/save/">
            <select>
            <option name = "Headgear">
                <option value="viking_helmet">Viking Helmet</option>
                <option value="hood">Hood</option>
                <option value="nothing">Nothing</option>
            </select>
            <input type="submit" value="Submit">
        </form>
{% endblock %}
</html>