<!DOCTYPE html>
{% extends "parent_layout.html" %}

{% block header %}
    <title>Head</title>
{% endblock %}

{% block body %}
    <p> What is on my head?</p>
        <form action="/save/head">
            <select name="character_head">
            <option>
                <option value="Viking Helmet">Viking Helmet</option>
                <option value="Hood">Hood</option>
                <option value="Nothing">Nothing</option>
            </select>
            <input type="submit"/>
        </form>
{% endblock %}
