<!DOCTYPE html>
{% extends "parent_layout.html" %}
{% block header %}
    <title>Legs</title>
{% endblock %}

{% block body %}
    <style>
    body {background-color: dimgrey}
    p {font-family: "Comic Sans MS", cursive, sans-serif; color: ghostwhite}
    </style>
    <p class="thick">Please select your pants:</p>
    <form action="/save/legs" name="character_legs">
        <p><input type="radio" name="pants" value="Leather"> Leather <img src="/static/leather.jpg" style="width:100px;height:200px;"></p>
        <p><input type="radio" name="pants" value="Jeans"> Jeans <img src="/static/jeans.jpg" style="width:150px;height:200px;"</p><br>
        <input type="Submit" value="Submit">
    </form>
{% endblock %}
</html>