<!DOCTYPE html>
{% extends "parent_layout.html" %}
{% block header %}
    <title>Race</title>
    {% endblock %}
{% block body %}
    <style>
    body {background-color: lightcoral}
    p {font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif; color: blanchedalmond;}
    </style>

    <p class="thick">What race am I?</p>
    <form action="/save/race">
        <p><input type="radio" name="race" value="human"> Human <img src="/static/martin-w-king-dnd-char-bambillious-sketching-2100.jpg" style="width:100px;height:200px;"></p>
        <p><input type="radio" name="race" value="elf "> Elf <img src="/static/elf.png" style="width:150px; height:200px"><br></p>
        <p><input type="radio" name="race" value="orc"> Orc <img src="/static/orc.jpg" style="width:150px; height:200px"><br></p>
        <p><input type="radio" name="race" value="dwarf"> Dwarf <img src="/static/dwarf.png" style="width:150px; height:200px"><br></p>
        <p><input type="submit"><p>
    </form>
{% endblock %}
</html>
