<!DOCTYPE html>
from adventure_flask import static
{% extends "parent_layout.html" %}
{% block header %}
    <title>Race</title>
    {% endblock %}
{% block body %}
    <p class="thick">What race am I?</p>
    <form action="/save/race">
        <p><input type="radio" name="race" value="Human"> Human <img src="/static/martin-w-king-dnd-char-bambillious-sketching-2100.jpg" style="width:100px;height:200px;" alt="Human"></p>
        <p><input type="radio" name="race" value="Elf "> Elf<img src="/static/elf.png" style="width:150px; height:200px"<br></p>
        <p><input type="radio" name="race" value="Orc"> Orc<img src="/static/orc.jpg" style="width:150px; height:200px"<br></p>
        <p><input type="radio" name="race" value="Dwarf"> Dwarf<img src="/static/dwarf.png" style="width:150px; height:200px"<br></p>
        <p><input type="submit"/><p>
    </form>
{% endblock %}
</html>
