<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Creation</title>
    <h1>What do I look like?</h1>
</head>
<body>
    <form action="/head/">
        <select>
        <option name = "Race">
            <option value="Human">Human</option>
            <option value="Orc">Orc</option>
            <option value="Elf">Elf</option>
            <option value="Dwarf">Dwarf</option>
        </select>
        <input type="Submit" value="Submit">
    </form>
</body>
</html>