<!DOCTYPE html>
{% extends "parent_layout.html" %}
{% block header %}
    <title>What are your skills? Check all that apply.</title>
{% endblock %}

{% block body %}
<form action="/character/completion">
    <input type="checkbox" name="skill" value="Strength"> Strength<br>
    <input type="checkbox" name="skill" value="Constitution"> Constitution<br>
    <input type="checkbox" name="skill" value="Dexterity"> Dexterity<br>
    <input type="checkbox" name="skill" value="Wisdom">Wisdom<br>
    <input type="checkbox" name="skill" value="Intelligence">Intelligence<br>
    <input type="checkbox" name="skill" value="Charisma">Charisma<br>
    <input type="Submit" value="submit">
</form>

{% endblock %}
</html>