<!DOCTYPE html>
{% extends "parent_layout.html" %}
{% block header %}
    <title></title>
{% endblock %}

{% block body %}
    <style>
    body {background-image:url("/static/dice.gif"); background-repeat:repeat; background-color: black}
    p {font-family: "Courier New", Courier, monospace; color: red;}
    </style>
    <p><u><i>You are almost there!</i></u></p>
    <p class="thick">What is the skill you are best at?</p>
<form action="/save/skills" name="character_skills">
    <p><b><input type="radio" name="skills" value="strength"> Strength</b></p><br>
    <p><b><input type="radio" name="skills" value="constitution"> Constitution</b></p><br>
    <p><b><input type="radio" name="skills" value="dexterity"> Dexterity</b></p><br>
    <p><b><input type="radio" name="skills" value="wisdom">Wisdom</b></p><br>
    <p><b><input type="radio" name="skills" value="intelligence">Intelligence</b></p><br>
    <p><b><input type="radio" name="skills" value="charisma">Charisma</b></p><br>
    <p><input type="submit" value="submit"></p>
</form>

{% endblock %}
</html>