<!DOCTYPE html>
{% extends "parent_layout.html" %}
{%  block header %}
        <title>Weapon</title>
{% endblock %}

{% block body %}
    <style>
    body {background-color: deepskyblue}
    p {font-family: "Trebuchet MS", Helvetica, sans-serif; color: purple; }
    </style>
<p class="thick">Choose your weapon:</p>
    <form action="/save/weapon" name="character_weapon">
        <p><input type="radio" name="weapon" value="Longsword"> Longsword <img src="/static/longsword.jpg" style="width:200px;height:200px;"></p><br>
        <p><input type="radio" name="weapon" value="Dagger"> Dagger<img src="/static/dagger.png" style="width:200px;height:200px;"></p><br>
        <p><input type="radio" name="weapon" value="Bow"> Bow and Arrow <img src="/static/bow.jpeg" style="width:200px;height:200px;"></p><br>
        <p><input type="radio" name="weapon" value="Wand"> Wand <img src="/static/wand.jpeg" style="width:200px;height:200px;"></p><br>
        <p><input type="submit" value="submit"></p>
    </form>
{% endblock %}
</html>