<!DOCTYPE html>
{% extends "parent_layout.html" %}
{%  block header %}
        <title>Weapon</title>
{% endblock %}

{% block body %}
<form action="/save/weapon" name="character_weapon">
    <input type="radio" name="weapon" value="longsword"> Longsword<br>
    <input type="radio" name="weapon" value="dagger"> Dagger<br>
    <input type="radio" name="weapon" value="bow"> Bow and Arrow<br>
    <input type="radio" name="weapon" value="wand"> Wand<br>
    <input type="Submit" value="submit">
</form>
{% endblock %}
</html>